
img {
	border: 0px solid #ddd;
	border-radius: 0px;
	padding: 35px;
	width: 80px;
  }
  
body {
	margin: 10px auto;
	max-width: 60em;
	font-family: sans-serif;
	color: #333333;
}

body {
    display: grid;
	gap: 0.5em;
}

@media (min-width: 30em) {
	/* Breite beträgt mindestens 30em */
	body {
		grid-template-columns: 2fr 4fr 2fr;
		grid-template-rows: auto 1fr auto;
	}
}

header {
	display: grid;
	gap: 0.5em;
	grid-column: 1 / -1;
}

header-int01 {
	grid-column: 1 / 2;
}

header-int02 {
	padding: 2px;
	font-family: sans-serif;
	font-weight: bold;
	color: #b62222;
	font-size: 3em;
	grid-column: 2 / 6;
}

footer {
	grid-column: 1 / -1;
}

header,
nav,
main,
article,
section,
aside,
footer {
	border-radius: 0px 0.5em 0.5em;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
}

header {
	background: #ffffff;
	border-color: #d5d5d5;
}

nav {
	background: #fffbf0;
	border-color: #e7c157;
}

section {
	background: #F1F3F4;
	border-color: slateblue;
}

main {
	display: block;
	/* für IE */

	background: #c4ced3;
	border-color: #8a9da8;
}

article {
	background: #ffede0;
	border-color: #df6c20;
}

aside {
	background: #ebf5d7;
	border-color: #8db243;
}

footer {
	background: #e4ebf2;
	border-color: #8a9da8;
}
